.selectionPlaylist {
  background: linear-gradient(
      135deg,
      rgb(222, 222, 216) 0%,
      rgb(120, 127, 143) 100%
    )
    repeat scroll 0% 0%;
  width: 800px;
  min-width: 500px;
  height: 240px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}
.selectionPlaylist__artwork {
  margin-right: 20px;
}
.artwork {
  width: 200px;
}
.selectionPlaylist__trackList {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.selectionPlaylist__trackList:hover {
  overflow-y: scroll;
}
.track {
  padding: 10px 10px;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
  cursor: pointer;
}
.track:hover {
  background: hsla(0, 0%, 100%, 0.1);
}
.track__title {
  color: hsla(0, 0%, 100%, 0.7);
  font-size: 18px;
}

/*
 * https://css-tricks.com/the-current-state-of-styling-scrollbars/
 * scrollbar 2
 */

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 9px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}
